:root {
	--multiverse-die-color: #b01313;
	--multiverse-die-filter: sepia(0.5) hue-rotate(-30deg);
	--die-highlight-hover: #b04e4e;
	--die-highlight-selected: #8a2f2f;
}

.roll.d-multiverse {
	&.fantastic {
		color: var(--multiverse-die-color);
		filter: var(--multiverse-die-filter);
	}
}

.multiverse-roll {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;

	.re-roll {
		width: 100%;
		text-align: center;
		font-style: italic;
		font-size: 1.25em;
	}

	.dice-rolls {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		.roll {
			position: unset;
			min-width: 3rem;
			line-height: 3rem;
			background-size: 3rem 3rem;
			font-size: 2rem;

			&.max, &.min, &.fantastic {
				filter: inherit;
				color: inherit;
			}

			&.selected {
				filter: drop-shadow(3px 3px var(--die-highlight-selected)) drop-shadow(-3px -3px var(--die-highlight-selected));
			}

			&:nth-of-type(2) {
				color: var(--multiverse-die-color);
				filter: var(--multiverse-die-filter);

				&.selected {
					filter: var(--multiverse-die-filter) drop-shadow(3px 3px var(--die-highlight-selected)) drop-shadow(-3px -3px var(--die-highlight-selected));
				}
			}
		}

		[data-action="chat-select-die"] {
			cursor: pointer;

			&:hover {
				filter: drop-shadow(3px 3px var(--die-highlight-hover)) drop-shadow(-3px -3px var(--die-highlight-hover)) !important;
			}

			&:nth-of-type(2):hover {
				filter: var(--multiverse-die-filter) drop-shadow(3px 3px var(--die-highlight-hover)) drop-shadow(-3px -3px var(--die-highlight-hover)) !important;
			}
		}
	}

	.modifiers {
		display: flex;
		gap: 0.25em;
		list-style: none;
		font-size: 1.25em;
		justify-content: center;

		.modifier {
			&:after {
				display: inline;
				content: ',';
			}

			&:last-of-type:after {
				display: none;
			}
		}
	}

	.total {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.5em;

		&.fantastic {
			color: var(--multiverse-die-color);
		}
	}
}
